.menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50px;
    left: 0;
    transform: translateX(-130%);
    transition: all 0.3s;
}

.menu.active {
    transform: translateX(0);
}
.blur {
    width: 100%;
    height: 100vh;
    left: 30%;
    backdrop-filter: blur(2px);
    position: absolute;
}

.menu_content {
    width: 30%;
    height: 100%;
    background-color: var(--grey-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s;
}

.menu_header{
    padding: 10px;
    font-size: 2rem;
    color: var(--white-dark);
    border-bottom: 1px solid var(--white-dark);
    width: 100%;
    text-align: center;
}

ul li a {
    color: var(--white-dark);
    text-decoration: none;
    font-size: 1.3rem;
}
ul li {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

