:root {
    --white: #ffffff;
    --white-dark: #e7e7e7;
    --grey-dark: #1c1b1b;
}

/*MENU*/
nav {
    height: 50px;
    width: 100%;
    background-color: var(--white-dark);
    position: fixed;
    z-index: 50;
    display: flex;
    align-items: center;
}

main {
    padding: 50px;
}

p {
    margin: 20px;
}

.main-menu-btn {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    position: relative;
    cursor: pointer;
}

.main-menu-btn:before {
    content: '';
    position: absolute;
    top: 3px;
    width: 30px;
    background-color: var(--grey-dark);
    height: 2px;
}

.main-menu-btn span {
    position: absolute;
    top: 14px;
    width: 30px;
    background-color: var(--grey-dark);
    height: 2px;
}

.main-menu-btn:after {
    content: '';
    position: absolute;
    bottom: 3px;
    width: 30px;
    background-color: var(--grey-dark);
    height: 2px;
}

/*FORM*/
.App {
    text-align: center;
}

.App-link {
    color: #61dafb;
}

h1 {
    font-size: 40px;
}

form {
    border: 1px solid #c6c7cc;
    border-radius: 5px;
    overflow: hidden;
    width: 450px;
    height: 400px;
    margin: 0 auto;
}

.container_form_large {
    margin: 20px;
}

.container_form_little {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.child {
    margin: 10px;
}

.component_input {
    padding: 15px 30px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

button.child {
    padding: 10px 20px;
}

button.child:hover {
    background-color: var(--white-dark);
    border: 1px solid var(--white-dark);
}

/*NEWS*/
.news_header {
    padding: 10px;
    font-size: 2rem;
    color: var(--grey-dark);
    border-bottom: 1px solid var(--white-dark);
    width: 100%;
    text-align: center;
}

.news_header_one{
    font-size: 22px;
}

.news_content {
    width: 70%;
    margin: 0 auto;
}

.news_block {
    height: 200px;
    margin: 15px;
    background-color: #ffffff;
    border: 2px solid #D4D4D4;
    border-radius: 10px;
    box-shadow: 0 0 15px #A9A9A9;
}

.news_block:hover{
    background-color: var(--white-dark);
    border: 1px solid var(--white-dark);
}

.news_image {
    float: left;
    width: 20%;
    height: 80%;
    margin: 15px 20px 0 20px;
}

@media (min-width: 992px) and (max-width: 1200px) {

    .news_image{
        margin: 10px 20px 0 20px;
        width: 20%;
        height: 70%;
    }
}

@media (min-width: 767px) and (max-width: 991px) {

.news_image{
    margin: 15px 20px 0 20px;
    width: 25%;
    height: 60%;
}
}
@media (min-width: 650px) and (max-width: 767px) {
    .news_header_one{
        font-size: 20px;
    }
    .news_all_content{
        font-size: 11px;
    }
    .news_image{
        margin: 15px 20px 0 20px;
        width: 30%;
        height: 60%;
    }
}
@media (max-width: 650px) {
    .news_block {
        height: 150px;
    }
    .news_header_one{
        font-size: 15px;
    }
    .news_all_content{
        font-size: 7px;
        padding: 0 0 0 100px;
    }
    .news_image{
        margin: 25px 20px 0 20px;
        width: 25%;
        height: 40%;
    }

}